@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --WidthMobile: 375px;
  --WidthDesktop: 1440px;
  /*
## Colors

### Primary
*/
  --ColorDarkCyan: hsl(158, 36%, 37%);
  --ColorCream: hsl(30, 38%, 92%);
  /*
### Neutral
*/
  --ColorVeryDarkBlue: hsl(212, 21%, 14%);
  --ColorDarkGrayishBlue: hsl(228, 12%, 48%);
  --ColorWhite: hsl(0, 0%, 100%);
  /*
## Typography

### Body Copy
*/
  --FontSizeParagraph: 14px;
  /*
### Font
*/
  --FontFamilyOne: "Montserrat";
  --FontFamilyTwo: "Fraunces";

  --FontWeightRegular: 500;
  --FontWeightBold: 700;
}

body {
  width: 80vw;

  max-width: var(--WidthMobile);
  background-color: var(--ColorCream);
}

.main_container {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
}

.main_container__card {
  width: 90vw;
  max-width: var(--WidthMobile);
  min-width: 385px !important;
  height: auto;
  padding: 0;
  border-radius: 10px;
  background-color: var(--ColorWhite);
  margin: auto;
}

.main_container__card__image_container {
  width: fit-content;
}

.main_container__card__image_container__image {
  width: 100%;
}

.main_container__card__content_container {
  padding: 1.3rem 1.3rem;
}

.main_container__card__content_container__category_container {
  height: 0.8rem;
}

.main_container__card__content_container__category_container {
  color: var(--ColorDarkGrayishBlue);
  font-family: var(--FontFamilyOne);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 500;
}

.main_container__card__content_container__product_title_container {
  margin: 1rem 0;
}

.main_container__card__content_container__product_title_container__text {
  font-family: var(--FontFamilyTwo);
  font-size: 2rem;
  width: auto;
}

.main_container__card__content_container__product_description_container {
  margin: 1rem 0;
}

.main_container__card__content_container__product_description_container__text {
  font-family: var(--FontFamilyOne);
  color: var(--ColorDarkGrayishBlue);
  font-size: var(--FontSizeParagraph);
  text-align: left;
}

.main_container__card__content_container__product_price_container {
  gap: 15px;
  display: flex;
  height: 5vh;
  align-items: center;
}

.main_container__card__content_container__product_price_container__text_new {
  font-family: var(--FontFamilyTwo);
  font-size: 2rem;
  color: var(--ColorDarkCyan);
}

.main_container__card__content_container__product_price_container__text_old {
  font-family: var(--FontFamilyOne);
  text-decoration: line-through;
  color: var(--ColorDarkGrayishBlue);
}

.main_container__card__content_container__cartbtn_container {
  height: 40px;
  display: flex;
  align-items: center;
  align-content: center;
  margin: 20px auto;
}

.main_container__card__content_container__cartbtn_container__btn {
  background: var(--ColorDarkCyan);
  outline: none;
  border: unset;
  margin: 10px auto;
  color: var(--ColorWhite);
  padding: 15px 80px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: var(--FontWeightBold);
}

.card__image-mobile {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__image-desktop {
  display: none;
}
.card__btn-hover:hover {
  background-color: var(--ColorVeryDarkBlue);
}
.card__btn__icon {
  margin: 0 10px;
}

@media screen and (min-width: 769px) {
  body {
    width: 100vw;
    max-width: var(--WidthDesktop);
  }

  .main_container {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100vw;
    margin: 0 auto;
    height: 100vh;
  }

  .main_container__card {
    width: 700px;
    max-width: none;
    height: auto;
    padding: 0;
    border-radius: 10px;
    background-color: var(--ColorWhite);
    margin: auto;
    display: flex;
  }

  .main_container__card__image_container {
    width: 350px;
  }

  .main_container__card__image_container__image {
    width: 100%;
  }

  .main_container__card__content_container {
    padding: 2.5rem 2rem;
    width: 350px;
  }

  .main_container__card__content_container__category_container {
    height: 0.8rem;
  }

  .main_container__card__content_container__category_container {
    color: var(--ColorDarkGrayishBlue);
    font-family: var(--FontFamilyOne);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 500;
  }

  .main_container__card__content_container__product_title_container {
    margin: 25px 0;
  }

  .main_container__card__content_container__product_title_container__text {
    font-family: var(--FontFamilyTwo);
    font-size: 2.3rem;
    width: 240px;
    line-height: 35px;
  }

  .main_container__card__content_container__product_description_container {
    margin: 40px 0;
  }

  .main_container__card__content_container__product_description_container__text {
    font-size: 1rem;
    line-height: 25px;
    width: 260px;
  }

  .main_container__card__content_container__product_price_container {
    gap: 25px;
    display: flex;
    height: 5vh;
    align-items: center;
  }

  .main_container__card__content_container__product_price_container__text_new {
    font-size: 2.3rem;
  }

  .main_container__card__content_container__cartbtn_container {
    height: 40px;
    display: flex;
    padding: 0;
    position: relative;
    top: 20px;
  }

  .main_container__card__content_container__cartbtn_container__btn {
    margin: 10px auto;
    padding: 20px 10px;
    width: 100%;
    font-size: 1rem;
    font-weight: var(--FontWeightBold);
  }

  .card__image-mobile {
    display: none;
  }
  .card__image-desktop {
    display: flex;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  width: 100vw;
  position: relative;
  margin: 0 auto;
  font-family: var(--FontFamilyOne);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
